<!DOCTYPE html>
<html>
    <head>

        <meta property="og:title" content="Htet Aung Hlaing | Freelance Software Developer">
        <meta property="og:image" content="https://media.licdn.com/dms/image/D5603AQFtgrR3osVlZA/profile-displayphoto-shrink_800_800/0/1693071994961?e=1700697600&v=beta&t=E1Ehitt0jNXMFVTGgzC4nW1AUMYH4zcw0m8FPGMDjDc"/>
        <meta property="og:description" content="Visit this site to know more about how unique this software developer is"/>

        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="description" content="My professional portfolio website"/>
        <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"/>
        <link rel="stylesheet" href="main.css">
        <script src="/htmx.js"></script>
        <script>
            <!-- On Page Load -->
            window.addEventListener("load", onPageLoad);
            async function onPageLoad(){
                fetch("/components/about.html").then(
                    async (response) => {
                        response.text().then((value)=> {
                            document.getElementById("content-div").innerHTML = value;
                        });
                    },
                    async (error) => {
                        document.getElementById("content-div").innerHTML = value;
                    }
                );
            }
        </script>
        <title>Htet Aung Hlaing</title>
    </head>
    <body>
        <header>
            <center>
                Freelance Software Developer
                <h1>
                    Htet Aung Hlaing
                </h1>
                <nav>
                    <a hx-get="/components/projects.html" hx-target="#content-div">Projects</a>
                    <a hx-get="/components/about.html" hx-target="#content-div">About</a>
                    <a hx-get="/components/contact.html" hx-target="#content-div">Contact</a>
                </nav>
            </center>
        </header>
        <hr>
        <div id="content-div">

        </div>
        <hr>
        <footer>
            <center>
                <p>
                All icons by <a target="_blank" href="https://icons8.com">Icons8</a> 
                <br>
                Hosted on <a href="https://github.com/DreamerChaserHAH/portfolio_website">Github</a>
                </p>
            </center>
        </footer>
    </body>
</html>