<center>
    <article>
        <img src="https://media.licdn.com/dms/image/D5603AQFtgrR3osVlZA/profile-displayphoto-shrink_800_800/0/1693071994961?e=1700697600&v=beta&t=E1Ehitt0jNXMFVTGgzC4nW1AUMYH4zcw0m8FPGMDjDc" width="100px" height="100px"/>
        <br>
        20 years old
        <h2>
            Software Developer
        </h2>
        <h3>
            Experience
        </h3>
        <ul>
            <li>
                6 years of hobbyist Unity Game Development experience
            </li>
            <li>
                1.5 years of freelance experience on <a>Upwork</a> and still counting
            </li>
        </ul>
        <h3>
            Skills
        </h3>
        <div>
            <img src="/components/about/unity.png"/>
            <img src="/components/about/cs.png"/>
            <img src="/components/about/cpp.png"/>
            <img src="/components/about/python.png"/>
            <img src="/components/about/postgres.png"/>
            <img src="/components/about/pi.png"/>
        </div>
        <h2>
            Entrepreneur
        </h2>
        <ul>
            <li>
                Scrum Master | Owner @ <a href="https://onenullsoftwares.com">OneNull Softwares</a>
            </li>
        </ul>
    </article>
</center>